<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" />
</head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="main">
      <section
        class="gallery"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about.season-activities.partial.html"
      ></section>
     <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>