<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="main">
      <!--Andrii Khrushch part 2 start -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.adventure-hero.partial.html"
      ></section>
      <!--Andrii Khrushch part 2 end-->
      
      <!--Mark Hlovachevskyi part 3 start -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.cabin-rentals.partial.html"
      ></section>
      <!--Mark Hlovachevskyi part 3 end-->

      <!--Rostyslav Kaziuta part 4 start-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.things-to-do.partial.html">
      </section>
      <!--Rostyslav Kaziuta part 4 end-->
      
      <!--Cherevychnyi Yaroslav part 6 start-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.shop-cafe.partial.html"
      ></section>
      <!--Cherevychnyi Yaroslav part 6 end-->
      <!--Andrii Khrushch part 2 start -->
    </main>
    <!--Hordiienko Vladyslava part 8 "reservation" start-->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.make-a-reservation.partial.html"
      ></section>
    <!--Hordiienko Vladyslava part 8 end-->
    <!--Maryna Huz part 9 'global footer' start-->
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <!--Maryna Huz part 9 'global footer' end-->
  </body>
</html>
