/*Andrew Khrushch start*/
 @media only screen and (min-width: 768px) {
  .adventure__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .adventure{
    width: 100%;
  }
  .adventure__title{
    font-size: 40px;
    margin-bottom: 30px;
  }
  .adventure__description{
    padding-left: 45px;
    padding-right: 45px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .adventure__image{
    width:290px;
height: 187px;
  }
  .adventure__name{
    font-size: 20px;
    width: 100%;
  }
}
.adventure {
  width: 320px;
  box-sizing: border-box;
  .adventure__title {
    text-align: center;
    width: 100%;
    font-size: 34px;
    font-family: "Circular Std", sans-serif;
    color: var(--color-darkgr);
    margin-bottom: 15px;
  }
  .adventure__description {
    color: var(--color-lightgr);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .adventure__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
    row-gap: 20px;
  }

  .adventure__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .adventure__image {
    width: 149px;
    height: 96px;
    border-radius: 8px;
  }

  .adventure__name {
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 85%;
  }
}
/*Andrew Khrushch end*/