/* Andrew Khrushch start */
.adventure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  box-sizing: border-box;
  max-width: 1400px;
}
.tree-img {
  position: absolute;
  top: 0;
  width: auto; /* можна змінювати розмір */
  height: 500px;
  object-fit: cover;
  pointer-events: none;
  z-index: 0;
}

.left-tree-img {
  left: 0;
    transform: translateY(1300px);
}

.right-tree-img {
  right: 0;
  transform: scaleX(-1) translateY(1300px);;
}

.adventure__inner {
  position: relative;
  z-index: 1;
}

.adventure__title {
  text-align: center;
  font-size: 26px;
  font-family: "Circular Std", sans-serif;
  color: var(--color-darkgr);
  margin-bottom: 16px;
}

.adventure__description {
  max-width: 100%;
  margin: 0 auto 24px auto;
  text-align: center;
  color: var(--color-lightgr);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

.adventure__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0;
  margin: 0;
}

.adventure__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.adventure__image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
  transition: transform 0.3s cubic-bezier(.4,0,.2,1), box-shadow 0.3s, border 0.3s;
  border: 2px solid transparent;
}

.adventure__image:hover {
  transform: scale(1.1);
  border: 2px solid #3a5a40;
  box-shadow: 0 6px 24px 0 rgba(23, 162, 116, 0.1);
}

.adventure__name {
  font-family: "Circular Std", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

@media (min-width: 768px) {
  .adventure {
    padding: 30px 15px;
  }

  .adventure__title {
    font-size: 32px;
  }

  .adventure__description {
    font-size: 20px;
    max-width: 600px;
  }

  .adventure__list {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
  }

  .adventure__image {
    height: 180px;
  }

  .adventure__name {
    font-size: 16px;
  }
}

/* десктоп */
@media (min-width: 1200px) {
  .adventure {
    max-width: 1400px;
    padding: 40px 20px;
  }

  .adventure__title {
    font-size: 42px;
  }

  .adventure__description {
    font-size: 25px;
    max-width: 900px;
    margin-bottom: 40px;
    line-height: 1.6;
  }

  .adventure__list {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;
  }

  .adventure__image {
    max-width: 360px;
    height: 220px;
    border-radius: 12px;
    margin-bottom: 12px;
  }

  .adventure__name {
    font-size: 18px;
  }
}

/* Andrew Khrushch end */
