<section class="contact">
    <h2 id="contact-title">Contact Us</h2>
    <div class="contact__inner">
        <div class="contact__content">
            <p>If you have any questions, feel free to get in touch with us at any time.</p>
            <ul>
                <li><strong>Write us:</strong> <a href="mailto:yosemite@email.com">yosemite@email.com</a></li>
                <li><strong>Call us:</strong> +1 (123) 45 67 89, +1 (123) 45 67 00</li> 
                <li><strong>Visit us:</strong> Yosemite Mariposa County, Ca, USA</li> 
            </ul>
        </div>

        <div class="contact__form">
            <form id="contact-from">
                <input placeholder="Name*" name="name" type="text" required>
                <input placeholder="Phone number*" name="phone-number" type="tel" required>
                <button>SEND</button>
            </form>
        </div>
    </div>
</section>
