<!-- Rostyslav Kaziuta-->
<section class="things-to-do">
  <div class="things-to-do__container">
    <h2 class="things-to-do__title">Things to Do</h2>

    <ul class="things-to-do__list">

      <li class="things-to-do__item">
        <article class="things-to-do__card">
          <img class="things-to-do__image" src="img/index.things-to-do/horse-riding.webp" alt="Horse Riding" />
          <h3 class="things-to-do__subtitle">Horse Riding</h3>
          <a class="things-to-do__price-link" href="https://www.google.com/finance/markets/currencies" target="_blank">
            <p class="things-to-do__price">$4/hour</p>
          </a>
          <p class="things-to-do__description">
            Take a measured romantic horseback riding tour and enjoy our
            unforgettable picturesque surroundings.
          </p>
        </article>
      </li>

      <li class="things-to-do__item">
        <article class="things-to-do__card">
          <img class="things-to-do__image" src="img/index.things-to-do/rock-climbing.webp" alt="Rock Climbing"
            width="330" height="219" />
          <h3 class="things-to-do__subtitle">Rock Climbing</h3>
          <a class="things-to-do__price-link" href="https://www.google.com/finance/markets/currencies" target="_blank">
            <p class="things-to-do__price">$2/hour</p>
          </a>
          <p class="things-to-do__description">
            Whether you are a professional mountaineer or it’s your first time,
            Yosemite one of the best places for this kind of sport.
          </p>
        </article>
      </li>

      <li class="things-to-do__item">
        <article class="things-to-do__card">
          <img class="things-to-do__image" src="img/index.things-to-do/biking.webp" alt="Biking" width="330"
            height="219" />
          <h3 class="things-to-do__subtitle">Biking</h3>
          <a class="things-to-do__price-link" href="https://www.google.com/finance/markets/currencies" target="_blank">
            <p class="things-to-do__price">$1/hour</p>
          </a>
          <p class="things-to-do__description">
            Rent a bike and take a fun and easy two-wheel tour over Yosemite
            Valley. It usually takes 2 hours.
          </p>
        </article>
      </li>

      <li class="things-to-do__item">
        <article class="things-to-do__card">
          <img class="things-to-do__image" src="img/index.things-to-do/rafting.webp" alt="Rafting" width="330"
            height="219" />
          <h3 class="things-to-do__subtitle">Rafting</h3>
          <a class="things-to-do__price-link" href="https://www.google.com/finance/markets/currencies" target="_blank">
            <p class="things-to-do__price">$3/hour</p>
          </a>
          <p class="things-to-do__description">
            You have a perfect choice to combine your river rafting adventure with
            a visit to the park. Test our waters.
          </p>
        </article>
      </li>

      <li class="things-to-do__item">
        <article class="things-to-do__card">
          <img class="things-to-do__image" src="img/index.things-to-do/fishing.webp" alt="Fishing" width="330"
            height="219" />
          <h3 class="things-to-do__subtitle">Fishing</h3>
          <a class="things-to-do__price-link" href="https://www.google.com/finance/markets/currencies" target="_blank">
            <p class="things-to-do__price">$2/hour</p>
          </a>
          <p class="things-to-do__description">
            With a number of permanent streams and mountain lakes, we offer
            anglers of all levels a diverse variety of opportunities for fishing.
          </p>
        </article>
      </li>

      <li class="things-to-do__item">
        <article class="things-to-do__card">
          <img class="things-to-do__image" src="img/index.things-to-do/spas-and-wellness.webp" alt="Spas and Wellness"
            width="330" height="219" />
          <h3 class="things-to-do__subtitle">Spas and Wellness</h3>
          <a class="things-to-do__price-link" href="https://www.google.com/finance/markets/currencies" target="_blank">
            <p class="things-to-do__price">$2/hour</p>
          </a>
          <p class="things-to-do__description">
            After a long exhausting day, you can relax and pamper yourself in our
            unique spa and wellness center.
          </p>
        </article>
      </li>

    </ul>
  </div>

</section>