<!--Andrii Khrushch-->
<section class="adventure">
  <h2 class="adventure__title">Your Adventure Starts Here</h2>
  <p class="adventure__description">
    Welcome to Yosemite National Park in Mariposa County, California!
Yosemite is home to giant sequoias, the Portal View observation deck, Briddlevale Falls, the El Capitan granite rocks, and the Half House.
In Yosemite village, you’ll find shops, restaurants, hotels, a museum, and the Ansel Adams Gallery.
Plan your adventure and find your place in Yosemite.
  </p>

  <ul class="adventure__list">
    <li class="adventure__item">
      <img
        class="adventure__image"
        src="img/index.adventure-hero/yosemite_gateway_horse_ranch.webp"
        alt="Yosemite Gateway Horse Ranch Getaway Cottage"
      />
      <p class="adventure__name">
        Yosemite Gateway Horse Ranch "Getaway" Cottage
      </p>
    </li>

    <li class="adventure__item">
      <img
        class="adventure__image"
        src="img/index.adventure-hero/tulomne_meadows_lodge.webp"
        alt="Tuolumne Meadows Lodge"
      />
      <p class="adventure__name">Tuolumne Meadows Lodge</p>
    </li>

    <li class="adventure__item">
      <img
        class="adventure__image"
        src="img/index.adventure-hero/sierra_sunrise_vac_rental.webp"
        alt="Sierra Sunrise Vacation Rental"
      />
      <p class="adventure__name">Sierra Sunrise Vacation Rental</p>
    </li>

    <li class="adventure__item">
      <img
        class="adventure__image"
        src="img/index.adventure-hero/donya_cottage.webp"
        alt="Donya Marie's Cottage on Evergreen"
      />
      <p class="adventure__name">Donya Marie's Cottage on Evergreen</p>
    </li>

    <li class="adventure__item">
      <img
        class="adventure__image"
        src="img/index.adventure-hero/sierra_meadow_cottage.webp"
        alt="Sierra Meadow Cottage"
      />
      <p class="adventure__name">Sierra Meadow Cottage</p>
    </li>

    <li class="adventure__item">
      <img
        class="adventure__image"
        src="img/index.adventure-hero/yosemite_river_house.webp"
        alt="Yosemite's River House"
      />
      <p class="adventure__name">Yosemite's River House</p>
    </li>
  </ul>
</section>
