<div class="testimonials">
  <h2 class="testimonials__title">Testimonials</h2>

  <div class="testimonials__list">
    <div class="testimonials__item testimonials__item--girl">
      <img
        class="testimonials__image"
        src="/img/testimonials-foto/foto-girl.jpg"
        alt="foto-girl"
        width="330"
      />
    </div>

    <div class="testimonials__item testimonials__item--water">
      <img
        class="testimonials__image"
        src="/img/testimonials-foto/foto-water.jpg"
        alt="foto-water"
        width="330"
      />
    </div>

    <div class="testimonials__item testimonials__item--mountain-girl">
      <img
        class="testimonials__image"
        src="/img/testimonials-foto/foto-mountain-girl.jpg"
        alt="foto-mountain-girl"
        width="330"
      />
    </div>

    <div class="testimonials__item testimonials__item--lake">
      <img
        class="testimonials__image"
        src="/img/testimonials-foto/foto-lake.jpg"
        alt="foto-lake"
        width="330"
      />
    </div>

    <div class="testimonials__item testimonials__item--snow">
      <img
        class="testimonials__image"
        src="/img/testimonials-foto/foto-snow.jpg"
        alt="foto-snow"
        width="330"
      />
    </div>
  </div>

  <div class="testimonials__footer">
    <a class="testimonials__button" href="index.html">All testimonials</a>
  </div>
</div>
