<!--Dykunec Ivan-->
<section class="gallery">
  <h1 class="gallery__title">Gallery</h1>
  <nav class="gallery__filter">
    <div class="gallery__filter-list">
    <p class="gallery__filter-item">Summer</p>
    <p class="gallery__filter-item">Winter</p>
    <p class="gallery__filter-item">Spring</p>
    <p class="gallery__filter-item">Autumn</p>
    <p class="gallery__filter-item">Fishing</p>
    <p class="gallery__filter-item">SPA</li>
    </div>
  </nav>
  <div class="gallery__category--summer">
    <div class="gallery__images">
      <img
        class="gallery__image"
        src="img/gallery/summer/summer1.webp"
        alt="Cozy wooden cabin with access to a balcony in the forest"
      />
      <img
        class="gallery__image"
        src="img/gallery/summer/summer2.webp"
        alt="Wooden treehouse cabin with terrace surrounded by forest"
      />
      <img
        class="gallery__image"
        src="img/gallery/summer/summer3.webp"
        alt="Summer landscape 3"
      />
      <img
        class="gallery__image"
        src="img/gallery/summer/summer4.webp"
        alt="Summer landscape 4"
      />
      <img
        class="gallery__image"
        src="img/gallery/summer/summer5.webp"
        alt="Summer landscape 5"
      />
      <img
        class="gallery__image"
        src="img/gallery/summer/summer6.webp"
        alt="Summer landscape 6"
      />
    </div>
  </div>
  <div class="gallery__category--winter">
    <div class="gallery__images">
      <img
        class="gallery__image"
        src="img/gallery/winter/winter1.webp"
        alt="Winter view 1"
      />
      <img
        class="gallery__image"
        src="img/gallery/winter/winter2.webp"
        alt="Winter view 2"
      />
      <img
        class="gallery__image"
        src="img/gallery/winter/winter3.webp"
        alt="Winter view 3"
      />
      <img
        class="gallery__image"
        src="img/gallery/winter/winter4.webp"
        alt="Winter view 4"
      />
      <img
        class="gallery__image"
        src="img/gallery/winter/winter5.webp"
        alt="Winter view 5"
      />
      <img
        class="gallery__image"
        src="img/gallery/winter/winter6.webp"
        alt="Winter view 6"
      />
    </div>
  </div>
  <div class="gallery__category--spring">
    <div class="gallery__images">
      <img
        class="gallery__image"
        src="img/gallery/spring/spring1.webp"
        alt="Spring scenery 1"
      />
      <img
        class="gallery__image"
        src="img/gallery/spring/spring2.webp"
        alt="Spring scenery 2"
      />
      <img
        class="gallery__image"
        src="img/gallery/spring/spring3.webp"
        alt="Spring scenery 3"
      />
    </div>
  </div>
  <div class="gallery__category--autumn">
    <div class="gallery__images">
      <img
        class="gallery__image"
        src="img/gallery/autumn/autumn.webp"
        alt="Autumn view 1"
      />
      <img
        class="gallery__image"
        src="img/gallery/autumn/autumn2.webp"
        alt="Autumn view 2"
      />
      <img
        class="gallery__image"
        src="img/gallery/autumn/autumn3.webp"
        alt="Autumn view 3"
      />
    </div>
  </div>
  <div class="gallery__category--fishing">
    <div class="gallery__images">
      <img
        class="gallery__image"
        src="img/gallery/fishing/fishing1.webp"
        alt="Fishing activity 1"
      />
      <img
        class="gallery__image"
        src="img/gallery/fishing/fishing2.webp"
        alt="Fishing activity 2"
      />
      <img
        class="gallery__image"
        src="img/gallery/fishing/fishing3.webp"
        alt="Fishing activity 3"
      />
    </div>
  </div>
  <div class="gallery__category--spa">
    <div class="gallery__images">
      <img
        class="gallery__image"
        src="img/gallery/spa/spa1.webp"
        alt="SPA center 1"
      />
      <img
        class="gallery__image"
        src="img/gallery/spa/spa2.webp"
        alt="SPA center 2"
      />
      <img
        class="gallery__image"
        src="img/gallery/spa/spa3.webp"
        alt="SPA center 3"
      />
    </div>
  </div>
</section>
