<!--Dykunec Ivan-->
<section class="gallery">
  <h1 class="gallery__title">Gallery</h1>
  <nav class="gallery__filter">
    <ul class="gallery__filter-list">
      <li class="gallery__filter-item">Summer</li>
      <li class="gallery__filter-item">Winter</li>
      <li class="gallery__filter-item">Spring</li>
      <li class="gallery__filter-item">Autumn</li>
      <li class="gallery__filter-item">Fishing</li>
      <li class="gallery__filter-item">SPA</li>
    </ul>
  </nav>
  <div class="gallery__category gallery__category--summer">
    <h2 class="gallery__subtitle">Summer</h2>
    <div class="gallery__images">
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/summer/summer1.webp"
        alt="Summer landscape 1"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/summer/summer2.webp"
        alt="Summer landscape 2"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/summer/summer3.webp"
        alt="Summer landscape 3"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/summer/summer4.webp"
        alt="Summer landscape 4"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/summer/summer5.webp"
        alt="Summer landscape 5"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/summer/summer6.webp"
        alt="Summer landscape 6"
      />
    </div>
  </div>
  <div class="gallery__category gallery__category--winter">
    <h2 class="gallery__subtitle">Winter</h2>
    <div class="gallery__images">
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/winter/winter1.webp"
        alt="Winter view 1"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/winter/winter2.webp"
        alt="Winter view 2"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/winter/winter3.webp"
        alt="Winter view 3"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/winter/winter4.webp"
        alt="Winter view 4"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/winter/winter5.webp"
        alt="Winter view 5"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/winter/winter6.webp"
        alt="Winter view 6"
      />
    </div>
  </div>
  <div class="gallery__category gallery__category--spring">
    <h2 class="gallery__subtitle">Spring</h2>
    <div class="gallery__images">
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/spring/spring1.webp"
        alt="Spring scenery 1"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/spring/spring2.webp"
        alt="Spring scenery 2"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/spring/spring3.webp"
        alt="Spring scenery 3"
      />
    </div>
  </div>
  <div class="gallery__category gallery__category--autumn">
    <h2 class="gallery__subtitle">Autumn</h2>
    <div class="gallery__images">
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/autumn/autumn.webp"
        alt="Autumn view 1"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/autumn/autumn2.webp"
        alt="Autumn view 2"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/autumn/autumn3.webp"
        alt="Autumn view 3"
      />
    </div>
  </div>
  <div class="gallery__category gallery__category--fishing">
    <h2 class="gallery__subtitle">Fishing</h2>
    <div class="gallery__images">
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/fishing/fishing1.webp"
        alt="Fishing activity 1"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/fishing/fishing2.webp"
        alt="Fishing activity 2"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/fishing/fishing3.webp"
        alt="Fishing activity 3"
      />
    </div>
  </div>
  <div class="gallery__category gallery__category--spa">
    <h2 class="gallery__subtitle">SPA</h2>
    <div class="gallery__images">
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/spa/spa1.webp"
        alt="SPA center 1"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/spa/spa2.webp"
        alt="SPA center 2"
      />
      <img
        class="gallery__image"
        width="400"
        src="img/gallery/spa/spa3.webp"
        alt="SPA center 3"
      />
    </div>
  </div>
</section>
