@layer base {
  :root {
    /* Кольори */
    --color-bg: #ffffff;
    --color-surface: #bec1c5;
    --color-text: #282520;
    --color-muted: #282520;
    --color-accent: #60a5fa; /* синій акцент */
    --color-accent-2: #599673; /* зелений для CTA/успіху */

    /* Шрифти та розміри */
    --ff-sans: ui-sans-serif, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --ff-serif: ui-serif, Georgia, serif;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;

    /* Контейнер/сітка */
    --content-max: 1200px;
    --gutter: 16px;

    /* Інше */
    --radius: 12px;
    --shadow: 0 10px 30px rgba(0,0,0,.25);
    --transition: 180ms ease;
  }
}
